/* mobil */

* {
  margin: 0;
  padding: 0;

}

body {
  background-color: rgb(255, 255, 255);
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: 1em;
  margin-top: 1em;
  width: 5em;
}


.header-text {
  padding: 1em 0em;
  margin-bottom: -0em;
  margin-top: -3em;
  color: rgb(21, 104, 36);
  border-color: rgb(202, 161, 71);
  border-width: 0.2em;
  border-style: outset;
  border-radius: 4em;
  font-family: serif;
  width: 96%;
  height: 1em;
  font-size: 2.6;
  text-align: center;
  background-color: rgb(170, 60, 27);

}
.nav__show {
  border-color: rgb(199, 144, 73);
  border-width: 0.1em;
  border-style: outset;
  border-radius: 3em;
  font-size: 3em;
  margin-top: -1.9em;
  margin-left: 0.4em;
  color: #fff;
}
nav {
  width: 100%;
  height: 60px;
  background-color:rgb(255, 255, 255);


}

nav ul{
  float: left;
  
}

nav ul li {
  float:left;
  list-style: none;
  position: relative;
}

nav ul li a {
  font-family:sans-serif;
  color: #616060;
  font-size: 2em;
  display: block;
  text-decoration: none;
  margin-top: 0.2em;
  margin-left: 0.2em;

}

nav ul li ul {
  display: none;
  position: absolute;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  width: 9em;
  margin-top: 0em;
  border-color: rgb(199, 144, 73);
  border-right-width: 0.2em;
  border-left-width: 0em;
  border-style: outset;
  border-top-left-radius: 0em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 0em;
}

nav ul li:hover ul {
  display: block;

}

nav ul li ul li a:hover{
  color: #da1919;
  transition-duration: 0.7s;

}

nav ul ul ul{
  display: block;
  margin-top: 8em;
  border-top-style: none;
  border-top-right-radius: 0em;
  border-bottom-left-radius: 0em;
}

nav ul ul ul ul li a{
  display: none;
  
}
nav ul ul ul ul {
  margin-top: -0em;
}
nav ul ul ul:hover ul li a {
  display: block;
}

.gridContainer {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  height: 100%;
  width: 100%;
}

.expanded__navbar{
  display: none;
}



.meny__header__pizza{
  font-family: sans-serif bold;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  color: rgb(24, 24, 24);
  background-color: bisque;
  font-size: 2em;
  grid-column: 1;
  grid-row: 4;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.pizzaMenyEtt {
  grid-column: 1;
  line-height: 2em;
  font-family: sans-serif;
  list-style: none;
  grid-row: 4;
  padding: 3em;
  font-size: 1.2em;
  font-family: serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.pizzaMenyTvå {
  grid-column: 1;
  margin-left: 6em;
  line-height: 2em;
  font-family: sans-serif;
  list-style: none;
  grid-row: 4;
  padding: 3em;
  font-size: 1.2em;
  font-family: serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
}


.imgOne{
  display: flex;
  flex-wrap: wrap;
  grid-column: 1;
  grid-row: 2;
  width: 18em;
  padding: 1em;
  margin: auto;
 

}
.imgTwo{
  display: flex;
  flex-wrap: wrap;
  grid-column: 1;
  grid-row: 3;
  width: 18em;
  margin: auto;

}

.infoContainer{
  grid-row: 1;
  grid-column: 1;
  background-color: rgba(63, 63, 62, 0.103);
  width: 18em;
  margin-left: 1em;
  text-align: center;
  height: 13em;
  
}

.öppettider {
  font-weight: 500;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.966);
  
  

} 
.tider {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.966);
  list-style: none;
  font-weight: 200;
}

.nummerText {
  font-family: serif;
  font-weight: 500;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.966);

}

.nummer {
  font-family: Cambria, Cochin, serif;
  font-size: 1.8em;
  color: rgba(0, 0, 0, 0.966);
  font-weight: 200;
}
.karta {
  margin: auto;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  height: 10em;
  width: 100%;
  
}

.rating {
  width: 20%;
  margin: auto;
  grid-row: 1;
  grid-column: 1;
  margin-top: 11em;
}

/* bilder html */

.bilderHeader {
  padding: 1em;
  grid-row: 1;
  text-align: center;
  font-family: sans-serif;
}

.bilderContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 20% 20% 20% 20%;
  width: 100%;
  height: auto;
}

.bilderPlaceholderOne {
  grid-column: 2;
  grid-row-start: 2;
  width: 15em;
  height: auto;
}
.bilderPlaceholderTwo {
  grid-row: 3;
  width: 15em;
  height: auto;
}

.bilderPlaceholderThree {
  grid-row: 4;
  width: 15em;
  height: auto;
}

.bilderPlaceholderFour {
  grid-row: 5;
  width: 15em;
  height: auto;
}

.bilderPlaceholderFive {
  grid-row: 6;
  width: 15em;
  height: auto;
}



/* tablet yeeeeeeeeeeet */
@media (min-width: 600px) {
  .logo {
    margin-right: 1.6em;
  }

  .header-text{
    width: 98%;
  }
  .karta {
    margin: auto;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 7em;
    width: 100%;
  }

  .infoContainer{
    grid-column: 2;
    margin-right: 1em;
    height: 30em;
  }
  .meny__header__pizza {
    grid-row: 2;
  }

  .pizzaMenyEtt {
    grid-row: 2;
  }
  .pizzaMenyTvå {
    grid-row: 2;
  }
  .imgOne{
    grid-column: 1;
    grid-row: 1;
    margin-top: -1em;
  }
  .imgTwo{
    grid-row: 2;
    grid-column: 1;
    margin-top: -15em;
  }

  .rating {
    grid-row: 1;
    grid-column: 2;
    width: 6em;
  }
}

/* laptop och desktop */
@media (min-width: 980px) {
  .logo {
    display: block;
    margin-left: 1em;
    margin-right: auto;
    margin-top: 0.5em;
    width: 4em;
  }
  
  
  .header-text {
    padding: 1em 0em;
    margin-bottom: -0em;
    margin-top: -2.2em;
    color: rgb(21, 104, 36);
    border-color: rgb(202, 161, 71);
    border-width: 0.13em;
    border-style: outset;
    border-radius: 2em;
    font-family: serif;
    width: 100%;
    height: 0.1em;
    font-size: 1;
    text-align: center;
    background-color: rgb(170, 60, 27);
  
  }
 
  .nav__show {
    display: none;
  }

  .expanded__navbar {
    color: rgb(235, 219, 177);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: -1.1em;
  }

  .expanded__navbar:hover{
    color: #fafafa;
    transition-duration: 0.5s;
  }

  nav ul li ul {
    display: none;
    position: absolute;
    border-radius: 0px 0px 4px 4px;
    background-color: rgb(252, 252, 252);
    width: 9em;
    margin-top: 0em;
    border-color: rgb(199, 144, 73);
    border-right-width: 0.2em;
    border-width: 0.2em;
    border-style: outset;
    border-radius: 0.1em;

  }

  .karta {
    margin: auto;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 15em;
    width: 100%;
  }

  .infoContainer{
    grid-column: 3;
    height: 25em;
    padding: 1em;
    margin-top: -1em;
    margin-left: 5em;
  }

  .imgOne{
    grid-column: 1;
    grid-row: 1;
    margin-top: -1em;
    margin-right: 0.5em;
    margin-left: 3em;
    width: 33em;
    border-color: rgb(0, 0, 0);
    border-width: 0.3em;
    border-style: outset;
    padding: 0;


  }
  .imgTwo{
    grid-row: 1;
    grid-column: 2;
    margin-top: -1em;
    width: 34.3em;
    border-color: rgb(0, 0, 0);
    border-width: 0.3em;
    border-style: outset;
    margin-left: 1em;

  }

  .rating {
    grid-column: 1;
    grid-row: 2;
    margin-top: 1em;
    width: 7em;
  }
  
  
}
