/* mobil */

* {
  margin: 0;
  padding: 0;

}

body,
html {
  height: 100%;
  width: 100%;
  background: url("wallpaper.jpeg");
  background-color: rgb(0,1.4,0);
  background-repeat: no-repeat;
  scroll-behavior: smooth; /*smoothing effect när man trycker på t.ex menyer*/
                          
  /*
  background-repeat: repeat-y;
  width: 100%;
  animation: breath 70s linear infinite;
  background: url("https://images.pexels.com/photos/754194/pexels-photo-754194.jpeg?cs=srgb&dl=night-dark-pattern-754194.jpg&fm=jpg") center center repeat;
  */

}


@keyframes breath { /* behövs inte längre med nya bakgrunden men har kvar ifall att */
  /*  
  0%   { background-size: 100% auto; }
  50% { background-size: 140% auto; }
  100% { background-size: 100% auto; }
  */
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: 1em;
  margin-top: 1em;
  width: 5em;
}

.smaller__navbar__meny {
  display: none;
}

.header-text {
  padding: 1em 0em;
  margin-bottom: -0em;
  margin-top: -3em;
  color: rgb(21, 104, 36);
  border-color: rgb(233, 189, 154);
  border-width: 0.2em;
  border-style: outset;
  border-radius: 4em;
  font-family: serif;
  width: 96%;
  height: 1em;
  font-size: 2.6;
  text-align: center;
  background-color: rgba(170, 60, 27, 0.664);
}
.nav__show {
  border-color: rgb(199, 144, 73);
  border-width: 0.1em;
  border-style: outset;
  position: absolute;
  border-radius: 3em;
  font-size: 3em;
  margin-top: -1.9em;
  margin-left: 0.4em;
  color: rgb(255, 255, 255);
}
nav {
  display: grid;
  position: absolute;
  transition-duration: 600ms;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0);
}

nav ul {
  float: left;
}

nav ul li {
  text-align: center;
  list-style: none;
  position: relative;
}

nav ul li a {
  font-family: serif;
  color: #616060;
  font-size: 2em;
  display: block;
  text-decoration: none;
  line-height: 1.4em;
  margin-top: 0.2em;
  margin-left: 0.2em;
}
nav ul li ul {
  display: none;
  position: absolute;
  transition-duration: 600ms;
  border-radius: 0px 0px 4px 4px;
  background-color: rgba(255, 255, 255, 0.945);
  width: 100%;
  height: 30em;
  line-height: 0.5em;
  font-weight: 100;
  text-decoration: none;
  margin-top: 0em;
  border-color: rgb(8, 8, 7);
}
nav ul li:hover ul {
  transition-duration: 600ms;
  display: block;
  z-index: 3;
}

nav ul li ul li a:hover {
  color: #23c51e;
  transition-duration: 0.7s;
}


nav ul ul ul {
  height: 0em;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 0em;
  border-top-right-radius: 0em;
  border-bottom-left-radius: 0em;
}

nav ul ul ul ul li a {
  display: block;
}
nav ul ul ul ul {
  margin-top: -8em;
  background: none;
}
nav ul ul ul:hover ul li a {
  display: block;
}

.gridContainer {
  margin-top: 1em;
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
  height: 100%;
  width: 100%;
}

.expanded__navbar {
  display: none;
}
.meny__header__pizza {
  font-family: sans-serif bold;
  text-decoration: underline overline;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  color: rgb(24, 24, 24);
  font-size: 1.1em;
  z-index: 1;
}

#pizzaMenyEtt {
  line-height: 2em;
  font-family: sans-serif;
  list-style: none;
  padding: 0em;
  font-size: 1.2em;
  font-family: serif;
  font-weight: 300;
  color: rgb(34, 34, 34);
  background-color: rgba(255, 255, 255, 0.74);
  z-index: 1;
  text-align: center;
  width: 80%;
  margin: auto;
  border-style: double;
  margin-bottom: 1em;
}

.meny__header__mexikan {
  font-family: sans-serif bold;
  text-decoration: underline overline;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  color: rgb(24, 24, 24);
  font-size: 1.1em;
  z-index: 1;
}
#mexikanMenyEtt {
  line-height: 2em;
  font-family: sans-serif;
  list-style: none;
  padding: 0em;
  font-size: 1.2em;
  font-family: serif;
  font-weight: 300;
  color: rgb(34, 34, 34);
  background-color: rgba(255, 255, 255, 0.74);
  z-index: 1;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 0em;
  border-style: double;
  margin-bottom: 1em;
}

.meny__header__amerikan {
  font-family: sans-serif bold;
  text-decoration: underline overline;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  color: rgb(24, 24, 24);
  font-size: 1.1em;
  z-index: 1;
}
#amerikanMenyEtt {
  line-height: 2em;
  font-family: sans-serif;
  list-style: none;
  padding: 0em;
  font-size: 1.2em;
  font-family: serif;
  font-weight: 300;
  color: rgb(34, 34, 34);
  background-color: rgba(255, 255, 255, 0.74);
  z-index: 1;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 0em;
  margin-bottom: 1em;
  border-style: double;
}
.meny__header__sallad {
  font-family: sans-serif bold;
  text-decoration: underline overline;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  color: rgb(24, 24, 24);
  font-size: 1.1em;
  z-index: 1;
}
#salladMenyEtt {
  grid-column: 1;
  grid-row: 1;
  margin-top: 0em;
  line-height: 2em;
  font-family: sans-serif;
  list-style: none;
  padding: 0em;
  font-size: 1.2em;
  font-family: serif;
  font-weight: 300;
  color: rgb(34, 34, 34);
  background-color: rgba(255, 255, 255, 0.74);
  z-index: 1;
  text-align: center;
  width: 80%;
  margin: auto;
  border-style: double;
  margin-bottom: 1em;
}

.meny__header__pasta {
  font-family: sans-serif bold;
  text-decoration: underline overline;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  color: rgb(24, 24, 24);
  font-size: 1.1em;
  z-index: 1;
}
#pastaMenyEtt {
  grid-column: 1;
  grid-row: 1;
  margin-top: 0em;
  line-height: 2em;
  font-family: sans-serif;
  list-style: none;
  padding: 0em;
  font-size: 1.2em;
  font-family: serif;
  font-weight: 300;
  color: rgb(34, 34, 34);
  background-color: rgba(255, 255, 255, 0.74);
  z-index: 1;
  text-align: center;
  width: 80%;
  margin: auto;
  border-style: double;
  margin-bottom: 1em;
}


.meny__header__kebab {
  font-family: sans-serif bold;
  text-decoration: underline overline;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  color: rgb(24, 24, 24);
  font-size: 1.1em;
  z-index: 1;
}
#kebabMenyEtt {
  grid-column: 1;
  grid-row: 1;
  margin-top: 0em;
  line-height: 2em;
  font-family: sans-serif;
  list-style: none;
  padding: 0em;
  font-size: 1.2em;
  font-family: serif;
  font-weight: 300;
  color: rgb(34, 34, 34);
  background-color: rgba(255, 255, 255, 0.74);
  z-index: 1;
  text-align: center;
  width: 80%;
  margin: auto;
  border-style: double;
  margin-bottom: 1em;
}

.meny__header__inbakade {
  font-family: sans-serif bold;
  text-decoration: underline overline;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  color: rgb(24, 24, 24);
  font-size: 1.1em;
  z-index: 1;
}
#inbakadeMenyEtt {
  grid-column: 1;
  grid-row: 1;
  margin-top: 0em;
  line-height: 2em;
  font-family: sans-serif;
  list-style: none;
  padding: 0em;
  font-size: 1.2em;
  font-family: serif;
  font-weight: 300;
  color: rgb(34, 34, 34);
  background-color: rgba(255, 255, 255, 0.74);
  z-index: 1;
  text-align: center;
  width: 80%;
  margin: auto;
  border-style: double;
  margin-bottom: 1em;
}

.meny__header__halvInbakade {
  font-family: sans-serif bold;
  text-decoration: underline overline;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  color: rgb(24, 24, 24);
  font-size: 1.1em;
  z-index: 1;
}
#halvInbakadeMenyEtt {
  grid-column: 1;
  grid-row: 1;
  margin-top: 0em;
  line-height: 2em;
  font-family: sans-serif;
  list-style: none;
  padding: 0em;
  font-size: 1.2em;
  font-family: serif;
  font-weight: 300;
  color: rgb(34, 34, 34);
  background-color: rgba(255, 255, 255, 0.74);
  z-index: 1;
  text-align: center;
  width: 80%;
  margin: auto;
  border-style: double;
  margin-bottom: 1em;
}




.infoContainer {
  grid-row: 1;
  grid-column: 1;
  background-color: rgba(247, 247, 247, 0.89);
  text-align: center;
  height: 31em;
  padding: 1em;
  width: 80%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  box-shadow: rgba(42, 179, 24, 0.788)5px -5px, rgb(255, 255, 255) 10px -10px, 
  rgba(241, 7, 7, 0.767) 15px -15px,  rgba(241, 7, 7, 0.767) -5px 5px, rgb(255, 255, 255) -10px 10px, rgba(42, 179, 24, 0.788)-15px 15px;
  border: none;
}

.viktigInfo {
  font-weight: 100;
}

.birdlol { /* Container för logan */
display: flex;
justify-content: space-around;
}

.bird {
  margin: -2em;
  width: 15em;
}

.öppettider {
  font-weight: 500;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.966);
}
.tider {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.966);
  list-style: none;
  font-weight: 200;
}

.nummerText {
  margin-top: 1em;
  text-decoration: overline;
  font-family: serif;
  font-weight: 500;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.966);
}

#nummer {
  font-family: Cambria, Cochin, serif;
  font-size: 1.8em;
  color: rgba(0, 0, 0, 0.966);
  font-weight: 200;
  margin-left: -2em;
  margin-top: 0.3em;
  background: none;
  border: none;
  width: 8em;
  pointer-events: none; /* gör så att man inte kan redigera nummret */
  cursor: default;
}

#nummer:hover{
  cursor: default;
}

#timer {
  color: #abd8aa;
}


#button {
  float: left;
  margin-left: 2em;
  margin: auto;
  margin-top: 1.1em;
  display: absolute;
  width: 3em;
  background-color: #e2dede;
  cursor: pointer;
}

.adress { /* Detta är texten "Adress" */
  margin-top: 1em;
  font-family: Cambria, Cochin, serif;
  font-size: 1.8em;
  color: rgba(0, 0, 0, 0.966);
  font-weight: 200;
}
.adress__adress /* Detta är själva adressen */{
  margin-top: 1em;
  font-family: Cambria, Cochin, serif;
  font-size: 1.8em;
  color: rgba(0, 0, 0, 0.966);
  font-weight: 200;
  text-decoration: underline;
  margin-top: 0em;
  text-underline-position: under;
}

.dagens {
  margin-top: 1em;
  font-family: serif;
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.966);
  font-weight: 200;
}

.dagens__under {
  margin-top: 0.2em;
  font-family: serif;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.966);
  font-weight: 200;
}

.karta {
  margin: auto;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  height: 10em;
  width: 100%;
  display: none;
  z-index: 10;
}

.rating {
  width: 5em;
  margin: auto;
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
}

#footer {
  height: 5em;
  padding: 1em;
  background-color: #61606034;
}

.footerLinks {
  text-decoration: none;
  margin-left: 2em;
  color: rgba(255, 255, 255, 0.959);
  border-style: solid;
  background-color: rgb(28, 56, 9);
  border-color: #616060;
  border-radius: 1em;
  padding: 0.5em;
}

#cr{
  padding: 0.5em;
  text-align: center;
  color: #fff;
  margin-bottom: 1em;
}

/* bilder css */

.bilderHeader {
  background: -webkit-linear-gradient(left, rgb(0, 255, 0),rgb(255, 255, 255), rgb(250, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: .1em;
  font-size: 5em;
  text-align: center;
}

.bilder__back {
  display: flex;
  background: -webkit-linear-gradient(left, rgba(0, 255, 0, 0.589),rgba(255, 255, 255, 0.651), rgba(250, 0, 0, 0.61));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: space-around;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  font-size: 3em;
  border-top-style: double;
  border-color: #ffffff;
  margin: auto;
  width: 18%;
}

.bilder__back:hover{
  color: #f1ead3;
}

.bilder__back__text {
  position: flex;
  text-align: center;
  justify-content: space-around;
  text-decoration: none;
  font-size: 1em;
  color: #ffffff;
  margin-bottom: 0.5em;
}

.bilder__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5em;
}


.one {
  width: 50em;
  padding: 1em;
  margin: auto;
  transition-timing-function: ease-in-out;
  box-shadow: 0 22px 30px rgba(0, 0, 0, 0.9);
}

.one:hover{
  width: 50em;
  transition-duration: 300ms;
  cursor:pointer; /* Ändrar muspekaren för att indikera att man kan trycka på bilden*/
}

.one:active { /* Förstorar bilden om man håller in på den */
  width: 60em;
}



/* tablet yeeeeeeeeeeet */
@media (min-width: 738px) {
  .gridContainer {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
  }

  .logo {
    margin-right: 1.6em;
  }

  .header-text {
    width: 98%;
  }

  .infoContainer {
    grid-column: 4;
    margin-left: -1em;
    margin-right: 1.5em;
    padding: 0;
    width: 30vw;
    height: 38em;
    margin-top: 1em;
    box-shadow: rgba(42, 179, 24, 0.788)5px -5px, rgb(255, 255, 255) 10px -10px, 
    rgba(241, 7, 7, 0.767) 15px -15px,  rgba(241, 7, 7, 0.767) -5px 5px, rgb(255, 255, 255) -10px 10px, rgba(42, 179, 24, 0.788)-15px 15px;
    border: none;
    z-index: 1;
  }

  .birdlol {
   display: block;
   grid-column: 4;
   grid-row: 1;
   margin-top: 34em;
   margin-left: auto;
   margin-right: auto;
  }

  .karta {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 30em;
    width: 30vw;
    z-index:1;
    float: right;
    margin-right: 1em;
    margin-top: -7em;
  }

  
  .bird {
    margin-top: 5em;
    width: 15em;
  }
  
    #nummer {
      width: 100%;
      margin: auto;
      text-align: center;
      margin-right: -0.5em;
    }


    #button{
      margin-top: -2em;
      margin-left: 0em;
    }

  .rating {
    grid-row: 1;
    grid-column: 4;
    width: 6em;
    z-index: 2;
    margin: auto;
  }
  #footer {
    display: flex;
    justify-content: space-evenly;
    position: relative; 
    padding: 1em; 
    bottom: 0; 
    width: 98%; 
    height: 40px; 
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: left;
    background: rgba(236, 219, 208, 0.062); 
    z-index: 5;
    border-top-style: double;
    border-color: #6160603b;
  }

  /* --HIGH RESOLUTION CONTAINERS--(används för res > 600px då allt är en helt annan layout */

  /*Standard pizzor*/
  .high__res__container1  {
    width: 35vw;
    grid-column: 1;
    grid-row: 1;
    margin-left: -0em;

  }
  /*Mexikanska pizzor*/
  .high__res__container2  {
    width: 35vw;
    grid-column: 2;
    grid-row: 1;
    margin-left: -2em;

  }
  /*Amerikanska pizzor*/
  .high__res__container3  {
    width: 35vw;
    grid-column: 2;
    grid-row: 1;
    margin-left: -2em;
    margin-top: 54.5em;
  }
  /*Sallader*/
  .high__res__container4  {
    width: 35vw;
    grid-column: 2;
    grid-row: 1;
    margin-left: -2em;
    margin-top: 19em;
  }
  /*Pasta rätter*/
  .high__res__container5  {
    width: 35vw;
    grid-column: 2;
    grid-row: 2;
    margin-left: -2em;
    margin-top: -72.3em;
  }
  /*Kebab rätter*/
  .high__res__container6  {
    width: 35vw;
    grid-column: 2;
    grid-row: 2;
    margin-left: -2em;
    margin-top: -53.5em;
  }
  .high__res__container7  {
    width: 35vw;
    grid-column: 2;
    grid-row: 2;
    margin-left: -2em;
    margin-top: -30em;
  }

  .high__res__container8  {
    width: 35vw;
    grid-column: 2;
    grid-row: 2;
    margin-left: -2em;
    margin-top: -9em;
  }

 

  
}

/* laptop och desktop */
@media (min-width: 1234px) {

  .gridContainer {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
  }

  #footer {
    width: 100%;
    margin-left:-2em;
  }

  .logo {
    display: block;
    margin-left: 1em;
    margin-right: auto;
    margin-top: 0.5em;
    width: 4em;
  }

  .header-text {
    margin-top: -2.2em;
    border-width: 0.13em;
    width: 100%;
    height: 0.1em;
    font-size: 1;
  }

  .nav__show {
    display: none;
  }

  .expanded__navbar {
    color: rgb(235, 219, 177);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: -1.8em;
  }

  .expanded__navbar:hover {
    color: #fafafa;
    transition-duration: 0.5s;
  }

  nav ul li ul {
    display: none;
    position: absolute;
    border-radius: 0px 0px 4px 4px;
    background-color: rgb(253, 253, 253);
    width: 17em;
    margin-left: -5em;
    transition-duration: 600ms;
    height: 20em;
  }

 

  .infoContainer {
    grid-column: 4;
    background-color: rgba(243, 240, 237, 0.87);
    width: 20vw;
    padding: 1em;
    z-index: 1;
    margin-left: -0em;
    height: 33em;
  }

  .viktigInfo{
    margin-top: 2em;
  }

  .birdlol {
    display: block;
    grid-column: 4;
    grid-row: 1;
    margin-top: 31em;
    margin-left: auto;
    margin-right:10em;
   }
 
   .bird {
     width: 18em;
   }

  .rating {
    grid-column: 4;
    margin: auto;
    grid-row: 1;
    width: 7em;
    z-index: 0;
  }

  .karta {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 40em;
    width: 25vw;
    z-index:1;
    float: right;
    margin-right: 2em;
    margin-top: -7em;
  }
    /*Standard pizzor*/
  .high__res__container1  {
    width: 24vw;
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 0em;
  }
  /*Mexikanska pizzor*/
  .high__res__container2  {
    width: 24vw;
    grid-column: 3;
    grid-row: 1;
    margin-left: -3em;
  }
  /*Amerikanska pizzor*/
  .high__res__container3  {
    width: 24vw;
    margin-top: 20em;
    grid-column: 3;
    grid-row: 1;
    margin-left: -3em;
  }
  /*Sallader*/
  .high__res__container4  {
    width: 30vw;
    grid-column: 2;
    grid-row: 1;
    margin-right: -1em;
    margin-top: 0em;
  }
  /*Pasta rätter*/
  .high__res__container5  {
    width: 30vw;
    grid-column: 2;
    grid-row: 1;
    margin-top: 35em;
    margin-right: -1em;
  }
  /*Kebab rätter*/
  .high__res__container6  {
    width: 24vw;
    grid-column: 3;
    grid-row: 2;
    margin-left: -3em;
    margin-top: -110em;
  }

  .high__res__container7  {
    width: 30vw;
    grid-column: 2;
    grid-row: 1;
    margin-top: 53.5em;
    margin-right: -1em;
  }
  .high__res__container8  {
    width: 30vw;
    grid-column: 2;
    grid-row: 1;
    margin-top: 70em;
    margin-right: -1em;
  }
}
