/* mobil */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(228, 225, 204);
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4em;
}

.header-text {
  padding: 0.2em 0em;
  margin-bottom: -0.2em;
  margin-top: -2.1em;
  color: rgb(3, 77, 16);
  font-family: serif;
  width: 100%;
  height: 2em;
  font-size: 2.6;
  text-align: center;
  background-color: rgba(33, 71, 33, 0.911);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: rgba(58, 107, 73, 0.993);
  height: 2.8em;
}

nav ul li {
  list-style: none;
  margin-top: 0.9em;
}

nav ul li a {
  font-family: sans-serif bold;
  color: rgb(238, 238, 238);
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
}

nav ul ul {
  display: none;
}

nav ul :hover ul {
  display: block;
  height: 8em;
  width: 4em;
  padding: 0.5em 1em;
  margin-right: -1.9em;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100%;
  width: 100%;
}

.pizzaText {
  font-family: serif;
  text-align: center;
  color: #fff;
  grid-column: 2;
  background-color: rgba(36, 105, 49, 0.685);
}

.stegEtt {
  display: block;
  margin-left: -18em;
  margin-right: auto;
  width: 3em;
  z-index: 1;
}

.pizzaMenyContainer {
  grid-column: 2;
  padding: 1.5em;

  background-color: rgba(3, 77, 17, 0.685);
}

.pizzaMeny {
  width: 50%;
  margin: auto;
  font-size: 4vh;
  font-family: serif;
  font-weight: 550;
  color: rgb(255, 255, 255);
}

.nummer {
  float: left;
  font-size: 1.8em;
  padding: 0.2em;
  grid-column: 1;
  color: rgb(6, 95, 6);
}

.tider {
  grid-column: 1;
  padding: 0.2em;
  font-size: 1em;
  color: rgba(255, 0, 0, 0.966);
}

.karta {
  margin-top: 10em;
  margin-left: 2em;
  height: 20em;
  width: 20em;
}

.frame {
  height: auto;
  width: 1000px;
}

/* ATT GÖRA: FIXA KARTA RESPONSIVENESS, LÄGG TILL INFO I RÄTT ORDNING SOM MAN BESTÄLLER, MENY -> NUMMER (KANSKE BYTA PLATS PÅ DOM)
--> SEDAN KARTA FÖR ATT HITTA. SOM INSTRUKTIONER TYP.



/* tablet yeeeeeeeeeeet */
@media (min-width: 600px) {
}

/* laptop och desktop */
@media (min-width: 980px) {
}
